Source: underworld
Section: games
Priority: optional
Maintainer: Roman Chistokhodov <freeslave93@gmail.com>
Build-Depends: debhelper (>= 9), fpc (>=2), libncursesw5-dev (>=5)
Standards-Version: 3.9.5
Homepage: https://github.com/alexanderlarin/underworld
#Vcs-Git: git://anonscm.debian.org/collab-maint/underworld.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/underworld.git;a=summary

Package: underworld
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xterm
Description: Open-source simulator 
 of the student life at the Tula State University
